#issueRows:hover{
 
    border-left: 5px solid #2ECC71;
}
#issueRows {
 
    height: 30px;
}
#issueTable {
    margin-left: 130px;
    width:30%;
    border: 2px solid black;
    border-radius: 2rem;
}

form {
    margin-left: 105px;  
}
.input {
  margin-left: 30px;  
  height: 30px;  
  border-radius: 2px;
}
button {
    background-color:rgb(47, 106, 235);
    height: 30px;
    margin-left: 10px;  
}




